name: ci

on:
  push:
    branches:
      - "main"
    paths:
      - "Dockerfile"
      - "**.lua"
      - .github/workflows/ci.yml
      - "README.md"

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@master
        with:
          ignore: "DL3008,DL3013,SC2015"
          verbose: true
      - name: Lint Markdown files
        uses: actionshub/markdownlint@main
      - name: Codespell
        uses: codespell-project/actions-codespell@master
        with:
          check_filenames: true
          check_hidden: true
          ignore_words_list: noice

  # docker:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Set up QEMU
  #       uses: docker/setup-qemu-action@v2
  #     - name: Set up Docker Buildx
  #       uses: docker/setup-buildx-action@v2
  #     - name: Login to DockerHub
  #       uses: docker/login-action@v2
  #       with:
  #         username: ${{ secrets.DOCKERHUB_USERNAME }}
  #         password: ${{ secrets.DOCKERHUB_TOKEN }}
  #     - name: Build and push
  #       id: docker_build
  #       uses: docker/build-push-action@v3
  #       with:
  #         push: true
  #         # platforms: linux/amd64,linux/arm64
  #         platforms: linux/arm64
  #         tags: ${{ secrets.DOCKERHUB_USERNAME }}/nvim:latest
