---
name: ci

on:
  push:
    branches:
      - "main"
    paths:
      - "Dockerfile"
      - "**.lua"
      - .github/workflows/ci.yml

jobs:
  checks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint Dockerfile
        uses: hadolint/hadolint-action@master
        with:
          ignore: "DL3008,DL3013,SC2015"
          verbose: true
      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@v19
        continue-on-error: true
        with:
          globs: |
            README.md

  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          # platforms: linux/arm64
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/nvim:latest
